@import "../../_mixins/respond.scss";

.singleRecipeCategory{
    padding: 5rem 15rem;
    display: flex;

    @include respond(tab-land){
    flex-direction: column;
    gap: 2rem; 
    padding: 5rem 10rem;

    }

}