@use "../../../index.scss" as global;
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 5rem;
    gap: 3rem;
    
    &__imgContent{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            width: 65%;
            border-radius: 2px;
        }

        &__description{
            font-family: global.$font-primary;

            h4{
                font-size: 2.5rem;
                color: gray;
                font-weight: 300;

            }

            span{
                font-size: 1.5rem;
                color: rgb(170, 170, 170);
                font-weight: 100;
                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
    }

    .box-placeholder{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
        box-shadow: global.$box-shadow-primary;
        padding: 1.5rem 0;
        background-color: white;
        border-radius: 5px;
    }

    .ingredient-placeholder{
        font-family: global.$font-primary;
        font-weight: bold;
        font-size: 2rem;
        text-transform: capitalize;

    }


    &__ingredients{
        @extend .box-placeholder;

        span{
            @extend .ingredient-placeholder;
            color: rgba(255, 166, 0, 0.692);
            
        }
    }

    &__sizes{
        @extend .box-placeholder;

        span{
            @extend .ingredient-placeholder;

            color: rgba(255, 68, 0, 0.384);
           
        }
    }
}