@use "../../index.scss" as global;
@use "../../_animations/navAnimations.scss" as animations;
@import "../../_mixins/respond.scss";


%fleshed-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right bottom, rgb(69, 145, 69), rgb(158, 173, 104));
    z-index: 50;
}
.navigation{
   
    
    @include respond(tab-land){
        display: none;
       

    }
    
   
    
}


.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 5rem;

}

.link{
    position: relative;
    font-size: 2.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: global.$font-primary;
    font-weight: 400;
    color: global.$color-dark-1;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: global.$transition-primary;

    animation: slideNavElements .5s ease-in;
    &::before{
        content: "";
        position: absolute;
        
        transform-origin: center;
        bottom: -15%;
        width: 10%;
        height: 3px;
        transform: scaleY(0);
    
        background-color: global.$color-secondary;
        transition: global.$transition-primary;
        z-index: -1;
        border-radius: 2px;
    
    }

    &:hover{
        transform: scale(1.05);
        font-weight: 100;
    }

    &:hover::before{
        transform: scaleY(1);
        width: 100%;
    
    
    }
}


.hideNav{
    display: none;
}





.fleshed{
    @extend %fleshed-overlay;
    
    animation: slideFleshedNav 1s ease;

    @include respond(tab-land){
        .navlinks{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            flex-direction: column;
           
        }
        .link{
            font-size: 7rem;
            display: block;
            color: rgb(0, 0, 0);
        }
        
    }

}
