@use "../../index.scss" as global;
@use "../../_animations/navAnimations.scss" as animations;
@import "../../_mixins/respond.scss";


.navbar {
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: global.$transition-secondary;

    &__logo{
       
        font-size: 3rem;
        font-family: global.$font-primary;
        text-decoration: none;
        color: global.$color-dark-2;
        font-weight: 400;
        letter-spacing: 2px;

        animation: bounceLogo 1s ease-in;

        span {
            font-size: 3.2rem;
            color: global.$color-primary;
            font-weight: 500;
        }
        

    }



    
}


.hamburger{
    display: none;
    
    @include respond(tab-land){
        display: flex;
        width: 40px;
        height: 20px;
        z-index: 200;
        flex-direction: column;
        gap: 1rem;

        span{
            width: 90%;
            height: 3px;
            background-color: black;
        }
    }
}

.hidden{
    display: none;
}
