@use '../../index.scss' as global;
@import "../../_mixins/respond.scss";

.footer{
    margin-top: 10rem;
    position: relative;
    
    &__img{
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
        filter: brightness(60%);
    }


    &__content {
        width: 80%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        h1{
            color: white;
            font-size: 4.5rem;
            font-weight: 500;
            font-family: global.$font-primary;
            text-align: center;

            @include respond(phone){
                font-size: 2.4rem;
            }

        }

        
    }

    &__mainForm{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0rem;
        &__input {
            
            border: none;
            outline: none;
            font-size: 2rem;
            background-color: global.$color-light-1;
            font-family: global.$font-primary;
            color: gray;
            border-radius: 4px;
            padding: 1.5rem  3rem;
            width: 89%;
            transition: global.$transition-primary;
            @include respond(tab-land){
                width: 95%;
               
        
            }
            
            &:focus{
                width: 100%;
                background-color: white;
                
            }
        }
    }
}

.btn{
    position: absolute;
    top: 15%;
    right: 10%;

    @include respond(tab-land){
        top: 20%;

    }

    @include respond(phone){
        top: 25%;
        right: 2%;
    }
}