@import "./_mixins/respond.scss";

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

$color-primary: rgb(97, 207, 93);
$color-secondary: rgb(39, 180, 98);

$color-light-1: rgb(236, 236, 236);
$color-light-2: rgb(168, 168, 168);

$color-dark-1: rgb(119, 126, 121);
$color-dark-2:rgba(0, 0, 0, 0.527);

$box-shadow-primary: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-secondary: 0 1rem 2rem rgba(31, 192, 79, 0.452);

$font-primary: 'Ubuntu', serif;

// transitions
$transition-primary: all .3s cubic-bezier(.24,.38,.75,.78);
$transition-secondary: all .4s ease;

html{
  font-size: 62.5%;
  background-color: $color-light-1;

  @include respond(tab-land){ // width < 1200
    font-size: 56.25%; 
  }

@include respond(tab-port){ // width < 900
    font-size: 50%; 
}

@include respond(phone){ // width < 900
  font-size: 37.5%; 
}


@include respond(big-desktop){ // width > 1800
    font-size: 75%; 
}


}



